*{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

body{
    background-color: rgb(9, 96, 107);
}

h1{
    margin: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#calcBody{

    background-color: rgb(124, 124, 124);
    justify-content: center;
    display: inline-block;
    margin:  100px auto;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    border:5px solid rgb(31, 31, 31);
    position: relative
    

}

#calcScreen{

    background-color: green;
    border: 1px solid black;
    height: 80px;
    width: 300px;
    margin: 20px auto;
    justify-content: center;
    border-radius: 10px;
    text-align: right;
    font-size: 50px;
    color: white;
    outline: none;
}

#conteneur
{
    padding:10px;


}

.touches{
    width: 100px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
}

#calculer, #reset{

    width: 90px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#calculer:hover,#reset:hover,.touches:hover
{
    box-shadow: rgb(8, 8, 8) -2px -2px 2px;

}

#resultat{
    width: 150px;
    height: auto;
    margin: 50px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#card
{
    position: absolute;
    background-color: steelblue;
    color: white;
    padding: 5px 0 5px 0;
    width: 100%;
    bottom: 0;
    font-size: 15px;
    border-radius: 0 0 5px 5px; 
}

@media screen and (max-width: 361px)
{
    h1{
        text-align: center;
        font-size: 20px;
    }
    #calcScreen{
        width: 250px;
    }
    #calcBody
    {
        width: 320px;
        height: 550px;
        
    }
    .touches
    {
        width: 60px;
        height: 50px;
    }
}
